name: Testing CI Using Dockerfile

on: 
  push:
  pull_request:
  workflow_dispatch:

jobs:
    build-Dockerfile:
        runs-on: ubuntu-latest
        steps:
             - uses: actions/checkout@v4

             - name: Building Dockerfile
               run: docker build -t ci-demo .

             - name: Runn Tests inside the container 
               run: docker run ci-demo