name: Build and push Docker Image

on: 
   push:
   pull_request:
   workflow_dispatch:

jobs:
    Build-Image:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
         - uses: actions/checkout@v4
         
         - name: Log in to Github GHCR 
           uses: docker/login-action@v3
           with: 
            registry: ghcr.io
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}

         - name: Build Docker Image
           run: |
               IMAGE=ghcr.io/${{ github.repository }}/ci-demo:latest
               docker build -t $IMAGE .

         -  name: Push the Docker Image
            run:  |
                IMAGE=ghcr.io/${{ github.repository }}/ci-demo:latest
                docker push $IMAGE

                

            