name: NODE CI 

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
         -   name: Checkout code
             uses: actions/checkout@v4

         -   name: Setup Node.js
             uses: actions/setup-node@v4
             with:
                 node-version: '18'
         -   name: Run npm Test
             run: npm test