name: secrets and variables

on:
    push:
    workflow_dispatch:

jobs:
    secrets:
        runs-on: ubuntu-latest
        steps:
            - name: Using Secret and Variables
              run: echo "HELLO ${{secrets.my_name}}"
              